<a href="/{{url}}">
  <div class="card my-4 flex items-center justify-around bg-{{color}} active:bg-{{darkenColor color 100}} w-full text-gray-700 p-4 lg:text-6xl md:text-6xl text-3xl text-center rounded-xl tracking-widest shadow-lg hover:shadow-xl transform hover:-translate-y-2 cursor-pointer">
    <div class="emoji">{{logo}}</div>
    <p class="font-extrabold" style="font-family: {{font}};">{{title}}</p>
  </div>
</a>
