<nav class="h-24 w-full flex items-center justify-between lg:px-12 md:px-12 px-4 {{#if hideOnMobile}} hidden {{/if}} lg:flex md:flex">
  <div class="left">
    {{#if tinyLogo}}
      {{> tiny-logo}}
    {{/if}}
  </div>
  <div class="center">
    {{#if centerText}}
      <a href="/{{@root.game.url}}">
        <div class="text-{{@root.game.color}} flex flex-col lg:flex-row md:flex-row items-center justify-centerlg:text-6xl md:text-5xl text-4xl font-semibold" style="font-family: {{@root.game.font}};">
          <p>{{@root.game.logo}}</p> <p>{{@root.game.title}}</p>
        </div>
      </a>
    {{/if}}
  </div>
  <div class="right">
    <span class="fa-stack fa-1x text-pink-400 hover:text-blue-200">
      <i class="md:text-3xl lg:text-3xl text-2xl fas fa-circle fa-stack-1x"></i>
      <i class="md:text-3xl lg:text-3xl text-2xl far fa-question-circle fa-stack-1x text-blue-600 hover:text-pink-400"></i>
    </span>
  </div>
</nav>
