<nav class="h-24 w-full flex items-center justify-between px-12">
  <div class="left">
      {{> tiny-logo}}
  </div>
  <div class="">
    <p class="text-{{game.color}} lg:text-6xl md:text-5xl text-4xl font-semibold" style="font-family: {{game.font}};">{{game.title}}</p>
  </div>
  <div class="right">
    <span class="mx-4 fa-stack fa-1x text-pink-400 hover:text-blue-200">
      <i class="text-3xl fas fa-circle fa-stack-1x"></i>
      <i class="text-3xl far fa-question-circle fa-stack-1x text-blue-600 hover:text-pink-400"></i>
    </span>
  </div>
</nav>

<div class="flex flex-col w-full items-center justify-center h-screen">
  <div class="h-full w-11/12 md:w-3/4 lg:w-1/3 rounded-xl p-4">
    <div class="w-full flex items-center justify-between">
      <div class="">
        <p class="text-{{game.color}} font-semibold text-xl" style="font-family: {{game.font}};">PLAY</p>
        <div id="timer"></div>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-{{game.color}} font-semibold text-xl" style="font-family: {{game.font}};">ROUND</p>
        <div class="h-12 w-12 rounded-full bg-red-400 flex items-center justify-center text-red-100 font-semibold" style="font-family: {{game.font}};">
          {{portal.round}}
        </div>
      </div>
    </div>
    {{> user-card currentUser}}
    <div class=" text-center w-full flex items-center justify-center py-8 text-4xl" style="font-family: {{game.font}};">
      {{round.question.question}}
    </div>
    <button onclick="selectRightAnswer({{currentUser.id}}, {{portal.round.id}})" class="place-self-center my-12 bg-blue-400 h-12 text-gray-100 p-4 rounded-xl flex items-center justify-center w-full text-3xl" style="font-family: {{game.font}};">{{round.question.answer}}</button>
    {{#each answers}}
      <button onclick="selectLie({{@root.currentUser.id}}, {{user.id}}, {{@root.portal.round.id}})" class="place-self-center my-12 bg-blue-400 h-12 text-gray-100 p-4 rounded-xl flex items-center justify-center w-full text-3xl" style="font-family: {{game.font}};">{{answer}}</button>
    {{/each}}
  </div>
</div>

{{#section 'script'}}
  <script type="application/javascript">
    function goBackToLobby () {
      window.location.href = `/{{game.url}}/{{portal.code}}`
    }
    {{> timer-script timeLimit=20}}
  </script>
{{/section}}
